
h6 {
    font-size: 0.7rem;
}
a{
    text-decoration: none;
    color: inherit;
}
@media (min-width: 900px) {
    .imgThumbnail {
        width: 160px !important;
        margin-right: 12px;
        border-radius:5px;
    }
    h2 {
        font-size: 1rem;
        font-weight: bolder;
    }
    .videoPage {
        display: flex !important;
        align-items: center !important;
        padding: 10px 0 10px 0 !important;
    }
    #componentParent {
        width: 35%;
        margin-top: -10px;
    }
}
@media (max-width: 900px) {
    .imgThumbnail {
        width: 128px !important;
        margin-right: 12px;
        border-radius:5px;
    }
    
    h2 {
        font-size: 1rem;
        font-weight: bolder;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        line-height: 1.2rem;
        /* max-height: 32px; Limiting to 2 lines */
        -webkit-line-clamp: 2; /* Specify the number of lines */
        -webkit-box-orient: vertical;
    }
    .videoPage {
        display: flex !important;
        align-items: center !important;
        padding: 15px 0 15px 0 !important;
    }
}