
@media (min-width: 640px) {
    #goSearchBtn {
        border: 1px solid black;
    }
    .search-container {
        position: relative;
        width: 100% !important;
        /* max-width: 600px !important; */
    }
    #searchInput {
        width: 100% !important; /* Full width of the container */
        box-sizing: border-box !important; /* Include padding and border in the element's total width and height */
    }
    .listbox-container {
        position: absolute !important;
        width: fit-content;
        min-width: 250px;
        background: var(--neutral-fill-layer-rest);
        /* border: 1px solid #ccc; */
        z-index: 1000; /* Ensure it appears above other elements */
        max-height: 300px !important; 
        overflow-y: auto; 
    }
}
@media (max-width: 640px) {
    .search-container {
        position: relative;
        width: 100% !important;
        max-width: 600px !important; /* Adjust as needed */
    }
    #searchInput {
        width: 100% !important; /* Full width of the container */
        box-sizing: border-box !important; /* Include padding and border in the element's total width and height */
    }

    .listbox-container {
        width: 100%;
        position: absolute !important;
        background: var(--neutral-fill-layer-rest);
        z-index: 1000; /* Ensure it appears above other elements */
        max-height: 300px !important; /* Set a max height for the listbox */
        overflow-y: auto; /* Enable vertical scroll if content overflows */
    }
    #searchInput {
        width:100%;
    }
    svg {
        display: none;
    }
    #goSearchBtn {
       display: none;
    }
}