
h6[b-s8gs9dpv8y] {
    font-size: 0.7rem;
}
a[b-s8gs9dpv8y]{
    text-decoration: none;
    color: inherit;
}
@media (min-width: 768px) {
    .imgThumbnail[b-s8gs9dpv8y] {
        width: 200px !important;
        margin-right: 1rem;
        border-radius: 5px;
    }
    h1[b-s8gs9dpv8y] {
        font-size: 1.2rem;
        font-weight: bolder;
    }
    .videoPage[b-s8gs9dpv8y] {
        display: flex !important;
        align-items: center !important;
        padding: 10px 0 10px 0 !important;
    }
}
@media (max-width: 768px) {
    .imgThumbnail[b-s8gs9dpv8y] {
        width: 128px !important;
        margin-right: 1rem;
        border-radius: 5px;
    }
    h1[b-s8gs9dpv8y] {
        font-size: 1rem;
        font-weight: bolder;
    }
    .videoPage[b-s8gs9dpv8y] {
        display: flex !important;
        align-items: center !important;
        padding: 15px 0 15px 0 !important;
    }
}