@inherits LayoutComponentBase

<FluentDesignTheme @bind-Mode="@Mode"
    @bind-OfficeColor="@OfficeColor"
    OnLoaded="@OnLoaded"
    OnLuminanceChanged="@OnLuminanceChanged"
    StorageName="theme" />
<FluentLayout>
    <header>
        <NavLink href="/" title="Home" class="navLinks">
            <img src="/favicon.png"/ alt="Logo" width="64px" height="64px">
        </NavLink>
        <div class="searchComponent"><dpOnDotnet.Components.Modules.SearchModule/></div>
    </header>
    <FluentStack Orientation="Orientation.Horizontal" Style="height: 100%;">
        @* <FluentAppBar Orientation="Orientation.Vertical" Class="Navbar">
            <FluentAppBarItem Href="/"
                Match="NavLinkMatch.All"
                IconRest="ResourcesIcon()"
                IconActive="ResourcesIcon(active: true)"
                Text="Home" />
        </FluentAppBar> *@
        <FluentBodyContent>
            <article>
                @Body
            </article>
            <FluentFooter> 
                <footer>       
                    @* <a href="/" id="home-nav"><p>darel's Projects</p></a> *@
                    <nav class="footer-nav">
                        <a href="/" id="home-nav"><p>darel's Projects</p></a>
                        <a href="https://darelisme.my.id"><p>at DWS</p></a>
                        <a href="https://github.com/darel919/darels-project"><p>Projects on GitHub</p></a>
                    </nav>        
                </footer>
            </FluentFooter>
        </FluentBodyContent>
        
    </FluentStack>
</FluentLayout>

@code {
    bool ShowNav = true;
    public DesignThemeModes Mode { get; set; }
    public OfficeColor? OfficeColor { get; set; }
    void OnLoaded(LoadedEventArgs e)
    {
        Console.WriteLine($"Loaded: {(e.Mode == DesignThemeModes.System ? "System" : "")} {(e.IsDark ? "Dark" : "Light")}");
    }

    void OnLuminanceChanged(LuminanceChangedEventArgs e)
    {
        Console.WriteLine($"Changed: {(e.Mode == DesignThemeModes.System ? "System" : "")} {(e.IsDark ? "Dark" : "Light")}");
    }
    void PickRandomColor()
    {
        OfficeColor = OfficeColorUtilities.GetRandom();
    }

    private static Icon ResourcesIcon(bool active = false) =>
        active ? new Icons.Filled.Size24.Home()
               : new Icons.Regular.Size24.Home();
}