
.videoPage-content h6 {
    font-size: 0.7rem;
}
.errorLoad {
    max-width: 768px;
}
a{
    text-decoration: none;
    color: inherit;
}
header h1 {
    font-size: 1.5rem;
}
header h5 {
    font-size: 1.2rem;
}
header h6 {
    font-size: 0.8rem;
}
@media (min-width: 768px) {
    .imgThumbnail {
        width: 200px !important;
        margin-right: 1rem;
        border-radius: 5px;
    }
    .videoPage-content h1 {
        font-size: 1.2rem;
        font-weight: bolder;
    }
    .videoPage {
        display: flex !important;
        align-items: center !important;
        padding: 10px 0 10px 0 !important;
    }
}
@media (max-width: 768px) {
    .imgThumbnail {
        width: 128px !important;
        margin-right: 1rem;
        border-radius: 5px;
    }
    .videoPage-content h1 {
        font-size: 1rem;
        font-weight: bolder;
        font-size: 1rem;
        /* font-weight: bolder; */
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        line-height: 1.2rem;
        /* max-height: 32px; Limiting to 2 lines */
        -webkit-line-clamp: 2; /* Specify the number of lines */
        -webkit-box-orient: vertical;
    }
    .videoPage {
        display: flex !important;
        align-items: center !important;
        padding:10px 0 10px 0 !important;
    }
}